# Python / virtualenv
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/

# VS / Rider / IDEs
.vs/
.idea/
*.user
*.suo

# Build artifacts (if building from source)
*.pdb

# OS junk
*.log
Thumbs.db
.DS_Store


